
<%# 月額課金キャンセルや再開が終了したのちに来る画面 %>
<div class="text-center">

  <h1>処理を実行しました</h1>

  <ul>
    <li>
      <%# ボタンを作って、押したら"http://localhost:3000/"にアクセスする %>
      <%# class: 'btn'でボタン化 %>
      <%= link_to "メインに戻る", root_path %>
    </li>
  </ul>

</div>
